body{
  margin: 0;
  font-family: "游明朝体", "Yu Mincho", YuMincho, serif;
}

a{
  color: black;
  text-decoration: none;
}

a:hover{
  color: #cccccc;
}

/* header */
header {
  text-align: right;
  height: 110px;
}
.logo {
    position: absolute;
    left: 20px;
    top: 10px;
    margin: 0;
    font-size: 40px
}
.logo span {
  font-size: 20px
}
.navbar{
  top: 70px;
}
.navbar ul li {
    display: inline-block;
    margin-top: 12px;
    margin-right: 35px;
    font-size: 25px;
}

.navbar .sp-design{
  /*display: none;*/
}
.navbar img{
  visibility: hidden;
}

/* トップ画面 */
.top {
  background-image: url(img/sample.jpg);
  background-size: cover;
  height: 600px;
  width: 100%;
  padding: 0;
  margin: 0;
  position: relative;
}
.top .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(10, 6, 5, 0.7);
  z-index: 2;
}
.top .message {
  color: white;
  position: absolute;
  z-index: 3;
  width: 750px;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}

.message h1 {
    font-size: 50px;
}

/* 各項目の見出し */
.topics{
  text-align: center;
  font-size: 48px;
  font-weight: 400;
}

.contents {
  margin-top: 100px;
}

/* 飯塚製麺所Rとは */
.about .text {
  font-size: 22px;
  margin: 0 auto;
  width: 800px;
}


/* こだわり */
.pickies{
  /* margin-top: 60px;
  padding-top: 10px; */
  color: black;
}

.picky{
  background-color: white;
  text-align: center;
  margin-top: 40px;
}
.picky div{
  display: inline-block;
  vertical-align: top;
}
.picky .title{
  font-size: 30px;
  font-weight: 200;
  margin-bottom: 10px;
}
.picky p{
  font-size: 22px;
  margin-top: 40px;
}
.picky img{
  height: 400px;
  width: 600px;
}
.picky .text-contents{
  width: 400px;
  text-align: left;
  margin: 30px;
}

/* メニュー */
.menu2 .menu-list{
  width: 100%;
}
table.brwsr1 {
  font-size: 35px;
  border-collapse: separate;
  border-spacing: 0px 1px;
  width: 100%;

}

table.brwsr1 th {
  padding: 12px;
  vertical-align: middle;
  text-align: left;
  border-bottom: #999 1px solid;
  color: black;
}

table.brwsr1 td {
  padding: 12px;
  vertical-align: middle;
  border-bottom: #999 1px solid;
  font-size: 11px;
}

table.brwsr1 th.r1 {
  width: 40%;
  border-right: #999 1px solid;
  background: #FFDEAD;
  text-align: center;
}

table.brwsr1 th.r2,
table.brwsr1 td.r2 {
  width: 30%;
  border-left: #fff 1px solid;
  border-right: #999 1px solid;
  background: #FFE4C4;
  font-size: 35px;
  color: black;
  text-align: center;
}

table.brwsr1 th.r2 {
  text-align: center;
}
.menu2 .under2{
  border-bottom: solid 2px red;
}
.menu2 .under3{
  font-size: 25px;
}
/*.menu {
  text-align: center;
}
.menu img {
  margin: auto;
  height: 500px;
  width: 700px;
}
.menu .name {
  font-size: 30px;
  margin-bottom: 0;
}
.menu .price {
  font-size: 25px;
  margin-top: 10px;
}

.menu2{
  display: none;
}*/

/* メンバー紹介 */
.members{
  /* margin-top: 120px; */
  text-align: center;
}
.members div{
  display: inline-block;
}
.member{
  text-align: center;
  margin: 30px;
  width: 400px;
}
.member .job{
  font-size: 30px;
  font-weight: lighter;
  margin: 5px;
}
.member .name{
  font-size: 40px;
  font-weight: lighter;
  margin: 2px;
}
.member img{
  border-radius: 50%;
  width: 300px;
}
.member p{
  margin-top:5px;
}

/* 店舗情報 */
.store{
  text-align: center;
}
.store img{
  margin-top: 10px;
  height: 400px;
  width: 600px;
}
.store p{
  font-size: 24px;
  margin-bottom: 5px;
  margin-top: 0;
}

/* ページトップボタン */
.pagetop{
    position:fixed;
    right:50px;
    bottom:20px;
    cursor:pointer;
}
.pagetop img {
  border-radius: 50%;
  width: 80px;
  height: 75px;
}

footer{
  margin-top: 80px;
  font-size: 20px;
  background-color: white;
  color: black;
  text-align: center;
  padding: 10px;
}
