* {
    margin: 0;
    padding: 0;
}

body{
   font-family: "游明朝体", "Yu Mincho", YuMincho, serif;
 }

a{
   color: black;
   text-decoration: none;
 }

a:hover{
  color: #cccccc;
}

ul{
  list-style: none;
}

  /* header */
  header {
    position: relative;
    margin:10px 10px;
    height: 150px;
    width: 365px;
  }
  .logo {
    display: inline-block;
    font-size: 33px;
    position: fixed;
    z-index: 10;
  }
  .logo span {
    font-size: 18px
  }

  .navbar{
    display: inline-block;
    position: fixed;
    left: 300px;
    z-index: 10;
    width:70px;
  }

  .navbar img{
    cursor: pointer;
  }
  .navbar ul{
    background: silver;
    display: none;
    position: absolute;
    z-index: 4;
  }

  /* .navbar ul li {
      display: inline-block;
      margin-top: 12px;
      margin-right: 35px;
      font-size: 25px;
  } */

  /* トップ画面 */
  .top {
    background-image: url(img/sample.jpg);
    background-size: cover;
    height: 300px;
    width: 360px;
    padding: 0;
    margin: 10px;
    position: relative;
    border-radius: 30px;
  }
  .top .overlay {
    position: absolute;
    width: 360px;
    height: 300px;
    background-color: rgba(10, 6, 5, 0.7);
    z-index: 2;
    border-radius: 30px;
  }
  .top .message {
    color: white;
    position: absolute;
    z-index: 3;
    width: 320px;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    -webkit- transform: translateY(-50%) translateX(-50%);
  }
  .message h1 {
      font-size: 50px;
  }

  /* 各項目の見出し */
  .topics{
    text-align: center;
    margin: 0 10px;
    font-size: 42px;
    font-weight: 400;
  }

  .contents {
    margin-top: 100px;
  }

  /* 飯塚製麺所Rとは */
  .about .text {
    text-align: center;
    font-size: 22px;
    margin: 0 10px;
    width: 365px;
  }


  /* こだわり */
  .pickies{
    /* margin-top: 60px;
    padding-top: 10px; */
    color: black;
  }

  .picky{
    background-color: white;
    text-align: center;
    margin-top: 40px;
  }
  .picky div{
    display: inline-block;
    vertical-align: top;
  }
  .picky .title{
    font-size: 30px;
    font-weight: 200;
    margin-bottom: 10px;
  }
  .picky p{
    font-size: 22px;
    margin-top: 40px;
  }
  .picky img{
    height: 300px;
    width: 365px;
    border-radius: 30px;
  }
  .picky .text-contents{
    width: 365px;
    text-align: left;
    margin: 10px;
  }

  /* メニュー */
  .menu {
    text-align: center;
  }
  .menu img {
    margin: 10px;
    height: 300px;
    width: 365px;
    border-radius: 30px;
  }
  .menu .name {
    font-size: 30px;
    margin-bottom: 0;
  }
  .menu .price {
    font-size: 25px;
    margin-top: 10px;
  }

  /* メンバー紹介 */
  .members{
    /* margin-top: 120px; */
    text-align: center;
  }
  .members div{
    display: inline-block;
  }
  .member{
    text-align: center;
    margin: 10px;
    width: 365px;
  }
  .member .job{
    font-size: 30px;
    font-weight: lighter;
    margin: 5px;
  }
  .member .name{
    font-size: 40px;
    font-weight: lighter;
    margin: 2px;
  }
  .member img{
    border-radius: 50%;
    width: 300px;
  }
  .member p{
    margin-top:5px;
  }

  /* 店舗情報 */
  .store{
    text-align: center;
  }
  .store img{
    margin-top: 10px;
    height: 250px;
    width: 365px;
  }
  .store p{
    font-size: 20px;
    margin-bottom: 5px;
    margin-top: 0;
  }

  /* ページトップボタン */
  .pagetop{
      position:fixed;
      right:50px;
      bottom:20px;
      cursor:pointer;
  }
  .pagetop img {
    border-radius: 50%;
    width: 80px;
    height: 75px;
  }

  footer{
    margin-top: 80px;
    font-size: 20px;
    background-color: silver;
    color: black;
    text-align: center;
    padding: 10px;
  }
